<div *ngIf="readBooks$ | async as books" class="book-section">
  <h2><a routerLink="/profil/bookshelf/read-books">Read Books</a></h2>
  <div *ngIf="books.length > 0; else noBooks">
    <div class="book-list">
      <div *ngFor="let book of books" class="book-card">
        <a [routerLink]="['/books', book.id]" style="text-decoration: none">
          <img
            [src]="
              book.volumeInfo.imageLinks?.thumbnail || 'assets/no-cover.png'
            "
            alt="Book cover"
          />
        </a>
      </div>
    </div>
  </div>
  <ng-template #noBooks>
    <p>You don't have any books in this list yet.</p>
  </ng-template>
</div>
