.book-section {
  width: 100%;
  max-width: 650px;
  padding: 1rem;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #d6ddba;
}

.book-section h2 a {
  color: #3b3b3b;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.book-card {
  width: 100px;
  text-align: center;
  padding: 0.5rem;
  border-radius: 8px;
}

.book-card img {
  width: 100%;
  height: auto;
}

.book-card h3 {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: bold;
}

.book-card p {
  font-size: 0.875rem;
  color: #3b3b3b;
}
