<!-- Lägg till en sökruta -->
<input
  type="text"
  [(ngModel)]="searchTerm"
  (input)="searchBooks()"
  placeholder="Search for books or authors"
/>

<div *ngIf="searchResults.length > 0">
  <div *ngFor="let book of searchResults">
    <div class="book">
      <h3>{{ book.volumeInfo.title }}</h3>
      <p *ngIf="book.volumeInfo.authors">
        Author: {{ book.volumeInfo.authors.join(", ") }}
      </p>

      <img
        *ngIf="book.volumeInfo.imageLinks?.thumbnail"
        [src]="book.volumeInfo.imageLinks.thumbnail"
        alt="Book image"
      />

      <p>{{ book.volumeInfo.description || "No description available" }}</p>
    </div>
  </div>
</div>
