.popular-books {
  width: 100%;
  max-width: 650px;
  padding: 1rem;
  margin: 20px;
  border: 1px solid #ccc; /* Ljusgrå ram */
  border-radius: 12px; /* Rundade hörn på hela sektionen */
  background-color: #d6ddba;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.book-card {
  width: 100px; /* Lite mindre kort */
  text-align: center;
  padding: 0.5rem;
}

.book-card img {
  width: 100%;
  height: auto;
}
