/* För att hela komponenten (t.ex. texten) ska vara centrerad */
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px; /* Padding i toppen */
  text-align: center; /* Centrerad text */
}

h2 {
  font-size: 1.5rem; /* Storlek på texten */
  color: #3b3b3b; /* Färg på texten */
  margin: 0; /* Ta bort eventuell margin */
  padding: 20px 0; /* Lägg till lite padding ovan och under texten */
}
