.bookshelf-container {
  padding: 2rem;
}

.bookshelf-nav a {
  margin-right: 1rem;
  font-size: 18px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: #333;
}

.active {
  font-weight: bold;
}

.read-books-active {
  background-color: #d6ddba;
}

.to-be-read-active {
  background-color: #d6ddba;
}
