<h2>My profile</h2>

<div *ngIf="userData">
  <label>
    User name:
    <input type="text" [(ngModel)]="username" />
  </label>
  <br />
  <label>
    Avatar URL:
    <input type="text" [(ngModel)]="avatar" />
  </label>
  <br />
  <img [src]="avatar" alt="avatar" width="100" height="100" *ngIf="avatar" />
  <br />
  <app-avatar-picker (avatarSelected)="avatar = $event"></app-avatar-picker>
  <button (click)="updateProfile()">Save changes</button>
</div>

<div *ngIf="!userData">
  <p>Loading...</p>
</div>
