<div class="star-rating">
  <ng-container *ngFor="let star of [0, 1, 2, 3, 4]; let i = index">
    <div class="star">
      <div class="star-background">&#9734;</div>
      <div class="star-foreground" [style.width.%]="calculateStarWidth(i)">
        &#9733;
      </div>
    </div>
  </ng-container>
</div>

<div class="rating-controls">
  <label>
    <select [(ngModel)]="selectedWhole" (change)="onDropdownChange()">
      <option *ngFor="let val of wholeOptions" [ngValue]="val">
        {{ val }}
      </option>
    </select>
  </label>

  <label>
    <select [(ngModel)]="selectedDecimal" (change)="onDropdownChange()">
      <option *ngFor="let val of decimalOptions" [ngValue]="val">
        {{ val }}
      </option>
    </select>
  </label>

  <span class="rating-display"> Rating: {{ rating }} </span>
</div>
