<div class="auth-dropdowns" *ngIf="!user; else loggedIn">
  <div class="auth-dropdown">
    <button class="dropdown-toggle" (click)="toggleDropdown('signin')">
      Sign In
    </button>
    <div class="dropdown-content" *ngIf="visibleDropdown === 'signin'">
      <form (ngSubmit)="onSubmit(true)" class="auth-form">
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Email"
          required
        />
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Password"
          required
        />
        <button type="submit">Log in</button>
      </form>
    </div>
  </div>

  <div class="auth-dropdown">
    <button class="dropdown-toggle" (click)="toggleDropdown('signup')">
      Sign Up
    </button>
    <div class="dropdown-content" *ngIf="visibleDropdown === 'signup'">
      <form (ngSubmit)="onSubmit(false)" class="auth-form">
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Email"
          required
        />
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Password"
          required
        />
        <input
          type="text"
          [(ngModel)]="username"
          name="username"
          placeholder="Username"
          required
        />

        <app-avatar-picker
          (avatarSelected)="onAvatarSelected($event)"
        ></app-avatar-picker>

        <div *ngIf="avatar" class="avatar-preview">
          <p>Selected avatar:</p>
          <img [src]="avatar" alt="Avatar" class="selected-avatar-img" />
        </div>

        <button type="submit">Register</button>
      </form>
    </div>
  </div>
</div>

<ng-template #loggedIn>
  <div class="auth-dropdown">
    <button class="dropdown-toggle" (click)="logout()">Sign Out</button>
  </div>
</ng-template>
