<div class="book-details-wrapper">
  <div class="book-details-container" *ngIf="bookDetails; else loading">
    <div class="book-image">
      <img
        [src]="
          bookDetails?.volumeInfo?.imageLinks?.thumbnail ||
          'assets/no-cover.png'
        "
        alt="Book image"
      />
    </div>

    <div class="book-info">
      <h2>{{ bookDetails?.volumeInfo?.title }}</h2>

      <p *ngIf="bookDetails?.volumeInfo?.authors?.length">
        <strong>Author:</strong>
        {{ bookDetails?.volumeInfo?.authors?.join(", ") }}
      </p>

      <p *ngIf="bookDetails?.volumeInfo?.publisher">
        <strong>Publisher:</strong> {{ bookDetails?.volumeInfo?.publisher }}
      </p>

      <p *ngIf="bookDetails?.volumeInfo?.publishedDate">
        <strong>Published:</strong> {{ bookDetails?.volumeInfo?.publishedDate }}
      </p>

      <p *ngIf="bookDetails?.volumeInfo?.averageRating">
        <strong>Average Rating:</strong>
        {{ bookDetails?.volumeInfo?.averageRating }} / 5
      </p>

      <p *ngIf="bookDetails?.volumeInfo?.categories?.length">
        <strong>Genres:</strong>
        {{ bookDetails?.volumeInfo?.categories?.join(", ") }}
      </p>

      <p *ngIf="bookDetails?.volumeInfo?.pageCount">
        <strong>Pages:</strong> {{ bookDetails?.volumeInfo?.pageCount }}
      </p>

      <p *ngIf="bookDetails?.volumeInfo?.subtitle">
        <strong>Series/Subtitle:</strong>
        {{ bookDetails?.volumeInfo?.subtitle }}
      </p>

      <p *ngIf="bookDetails?.volumeInfo?.description">
        <strong>Description:</strong>
      </p>
      <div
        *ngIf="bookDetails?.volumeInfo?.description"
        [innerHTML]="bookDetails?.volumeInfo?.description"
      ></div>
    </div>

    <div class="book-actions">
      <button (click)="addToList('currentlyReading')">Currently Reading</button>
      <button (click)="addToList('tbr')">To be read</button>
      <button (click)="addToList('read')">Read</button>

      <div class="confirmation-message" *ngIf="confirmationMessage">
        {{ confirmationMessage }}
      </div>

      <div class="user-rating">
        <strong>Your Rating:</strong>
        <app-star-rating
          [(rating)]="userRating"
          (ratingChange)="onRatingChange($event)"
        ></app-star-rating>
      </div>
      <button [routerLink]="['/profil/review', bookId]">
        {{ hasReview ? "Read/Edit Review" : "Write a Review" }}
      </button>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Loading book details...</p>
</ng-template>

<p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
