<div *ngIf="currentlyReadingBooks$ | async as books" class="currently-reading">
  <div *ngIf="books.length > 0; else noBooks">
    <h2>Currently Reading</h2>
    <div class="book-list">
      <div *ngFor="let book of books" class="book-card">
        <img
          [src]="book.volumeInfo.imageLinks?.thumbnail || 'assets/no-cover.png'"
          alt="Book cover"
        />
        <div class="text">
          <h3>{{ book.volumeInfo.title }}</h3>
          <p *ngIf="book.volumeInfo.authors">
            Av: {{ book.volumeInfo.authors.join(", ") }}
          </p>

          <input
            type="number"
            [(ngModel)]="book.pagesRead"
            (ngModelChange)="updatePagesRead(book, book.pagesRead)"
            placeholder="Skriv antal sidor lästa"
            min="0"
          />

          <div class="progress-bar">
            <div class="progress" [style.width.%]="calculateProgress(book)">
              {{ calculateProgress(book) | number : "1.0-0" }}%
            </div>
          </div>

          <button (click)="markAsRead(book)" class="mark-read-button">
            ✔️ Mark as Read
          </button>

          <button
            (click)="removeFromCurrentlyReading(book)"
            class="remove-button"
          >
            ❌ Remove from Currently Reading
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noBooks>
    <p>You dont't have any books in 'Currently Reading' yet.</p>
  </ng-template>
</div>
