<header class="header">
  <div class="logo">
    <a [routerLink]="''">
      <img src="images/booktalklogga4.png" alt="Logo" class="logo" />
    </a>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/mybooks">My Books</a></li>
      <li><a routerLink="/community">Community</a></li>
    </ul>
  </nav>
  <app-book-search></app-book-search>

  <!-- Auth dropdown component -->
  <app-auth></app-auth>

  <!-- Profile Icon (User profile) -->
  <a [routerLink]="'/profil'">
    <i class="bi bi-person-circle"></i>
  </a>
</header>

<router-outlet></router-outlet>

<footer>
  <div class="footer">
    <p>&copy; 2025 Booktalk. All rights reserved.</p>
    <p><a href="/privacy-policy">Privacy Policy</a></p>
  </div>
</footer>
