.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #889e6a;
}

.logo img {
  height: 60px;
  padding-right: 1.5rem;
}

app-book-search {
  flex-grow: 1;
  margin: 0 1rem; /* Justera avståndet mellan sökfältet och andra element */
}

nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li a {
  text-decoration: none;
  color: #3b3b3b;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

nav li a:hover {
  background-color: #d6ddba;
  padding: 0.3rem;
}

/* Justera ikonen */
.header a i {
  font-size: 2.5rem; /* Gör ikonen större */
  margin-left: 1rem; /* Justera avståndet från andra element, t.ex. sökfältet */
  cursor: pointer; /* Gör ikonen klickbar */
  transition: transform 0.3s ease; /* Lägg till en lätt animering för interaktion */
  color: #d6ddba;
}

.header a:hover i {
  transform: scale(1.1); /* Gör ikonen lite större när man hovrar över den */
}

/* Footer */
.footer {
  background-color: #889e6a;
  color: #3b3b3b;
  padding: 20px;
}

.footer a {
  color: #3b3b3b;
}
