.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #889e6a;
}

.logo img {
  height: 60px;
  padding-right: 1.5rem;
}

app-book-search {
  flex-grow: 1; /* Gör så att sökrutan tar upp all ledig plats */
  margin: 0 2rem; /* Lite marginal mellan sökfältet och menyn */
}

nav ul {
  display: flex;
  gap: 1.5rem; /* Avstånd mellan menyalternativen */
  list-style: none; /* Tar bort punkterna från listan */
  padding: 0;
  margin: 0;
}

nav li a {
  text-decoration: none;
  color: #3b3b3b;
  font-weight: bold;
  transition: color 0.2s ease-in-out; /* Mjuk övergång när man hovrar */
}

nav li a:hover {
  background-color: #d6ddba;
  padding: 0.3rem;
}

.footer {
  background-color: #d6ddba;
  color: #3b3b3b;
  padding: 20px;
}

.footer a {
  color: #3b3b3b;
}
