.avatar-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;
  gap: 10px;
}

.avatar-img {
  width: 50px;
  height: auto;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.3s ease;
  margin: 0 5px;
}

.avatar-img:hover {
  transform: scale(1.1);
}
